<nav id='main-nav' class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand px-lg-2" routerLink="/">ChurchSearch</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item dropdown px-lg-4">
          <a class="nav-link dropdown-toggle" href="#" id="navbarAccountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ message }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarAccountDropdown">
            <li><a *ngIf="loggedIn" class="dropdown-item" routerLink="/">My Account</a></li>
            <li><a *ngIf="loggedIn" class="dropdown-item" (click)='logout()' routerLink="/">Logout</a></li>
            <li><a *ngIf="!loggedIn" class="dropdown-item" routerLink="/login">Login</a></li>
            <li><a *ngIf="!loggedIn" class="dropdown-item" routerLink="/register">Register</a></li> 
          </ul>
        </li>
        <div *ngIf='loading' class="spinner-border mx-4" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </ul> 
    </div>
  </div>
</nav>