<section class="container form-box">
    <h1 class="text-center">Login</h1>

    <form method="POST" [formGroup]="formGroup" (submit)="onSubmit()">
        <div class="form-group">
            <label for="login-email">Email: </label>
            <input class='form-control' formControlName="email" id="login-email" type="email" placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="login-password">Password: </label>
            <input class='form-control' formControlName="password" id="login-password" type="password" placeholder="Enter password">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>

        <div class="my-4 alert alert-danger" role="alert" *ngIf="error">{{ error }}</div>
    </form>

    <aside class="register-aside">
        <p>Are you new to ChurchSearch?</p>
        <button class="btn btn-info" routerLink="/register">Register</button>
    </aside>
</section>